body {
        min-width: 768px;
        font-family: monospace;
        font-size: 100%;
}

header {
        background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
        width: 100%;
        border-bottom: 3px solid purple;
        padding: 2em 0%;
        text-align: right;
        color: purple;
}

nav {
        float: left;
        width: 15%;
        background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
        margin: 1em 0% 0% 1%;
        padding: 1em 1% 1em 0%;
        border-top: 3px solid purple;
        border-bottom: 3px solid purple;
}

section {
        float: right;
        width: 50%;
        margin: 2em 3% 2em 0%;
        padding: 0%;
}

aside {
        width: 20%;
        margin: 2em 0% 0% 17%;
        padding: 0% 5%;
        color: purple;
}

section > p {
        text-align: left;
        color: black;
}

section > p:first-child, section > p:last-child{
        margin: 0%;
}

nav > ul {
        line-height: 200%;
        list-style-type: square;
        text-align: left;
}

nav:hover {
        background-image: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

nav a:hover {
        background-color: purple;
        color: white;
        font-weight: bold;
        padding: 1%;
}

footer {
        clear: both;
        background-image: linear-gradient(to top left, pink, yellow, pink, purple);
        border-top: 3px solid purple;
        padding: 1em 0;
        width: 100%;
        text-align: center;
        color: purple;
        font-size: 80%;
}